<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Shoes! 👟👟👟</h1>
  <% if (user) { %>
    <h2>Add a pair of kickz!</h2>
    <form action="/shoes" method="POST">
      <label>
        Brand: 
        <input type="text" name="brand" autocomplete="off">
      </label>
      <label>
        Name:
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Color:
        <input type="text" name="color" autocomplete="off">
      </label>
      <button type="submit">Add 👟</button>
    </form>
  <% } %>
</section>